<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
        <link href="~/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />

   
    @RenderSection("head", required: false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
        <script src="~/js/jquery-3.3.1.js"></script>
        @*<script src="~/js/popper.js"></script>*@
        <script src="~/lib/popper.js/umd/popper.js"></script>
        <script src="~/js/bootstrap.js"></script>
   
    @RenderSection("Scripts", required: false)
</body>
</html>
